.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.badge-secondary.badge {
  background-color: #065e0f !important; /* Tailwind's blue-600 */
  color: #ffffff !important;
  border-color: #065e0f !important; /* also fix the outline */
}