.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.badge-secondary .badge-outline {
  background-color: #2563eb !important; /* Tailwind's blue-600 */
  color: #ffffff !important;
}