---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD in Systems and Information Engineering"
      subtitle="2022 to 2027 at University Of Virginia, Charlottesville, USA (GPA: 4.0)"
    />
    <TimeLineElement
      title="Bachelor in Computer Science with High Distinction (Minor in Psychology)"
      subtitle="2020 to 2022 at University Of Virginia, Charlottesville, USA (GPA: 4.0)"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Research Assistant at University of Virginia Riggs' Lab"
      subtitle="From 2021 to Present"
    >
      - Built multiple VR/AR applications using Unity (C#) and Android Studio for Meta Quest, Microsoft HoloLens, and Magic Leap, supporting multimodal input/output testing and interactive task-switching environments.
      - Led a series of mixed reality experiments analyzing cognitive workload and multi-interface attention through multimodal data analysis of eye tracking, movement tracking, and event logs using Python and R for statistical modeling and visualization.
      - Designed human-in-the-loop studies on AI-assisted decision-making, using Python to clean data, extract behavioral metrics, and model relationships between human performance, AI performance, and collaboration modes.
      - Developed a VR application to record and process 3D movement data, integrating real-time sensor input and spatial tracking for quantitative kinematic analysis.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
